* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.caixa-principal {
    background-position: right;
    height: 100vh;
    width: 100%;
    background-image: url(https://dkrn4sk0rn31v.cloudfront.net/uploads/2019/04/14232157/capa-produtividade.png);
    background-repeat: no-repeat;
    background-color: rgb(46, 45, 45);
    background-size: 550px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
}

.portfolio {
    color: white;
    font-size: 40px;
    font-weight: 700px;
    
}

.portfolio span {
    color: rgb(247, 56, 97);
}

li {
    color: white;
    list-style: none;
    display: inline-block;
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;
}

li:hover {
    color: rgb(247, 56, 97);
    transition: 0.5s;
}

.meu-nome {
    position: absolute;
    top: 50%;
    left: 10%;
    
}

h1 {
    color: white;
    font-size: 45px;
}

h1 span {
    color: rgb(247, 56, 97);
}

.meu-nome h3 {
    color: white;
    font-size: 25px;
}
